extends layout

block content
	h1.text-center.login-title Hello #{user.username}. Would you like to leave a trap?
	div#Map
	
	button#SetTrap.btn.btn-lg.btn-primary.btn-block        Set Trap
	button#UpdatePosition.btn.btn-lg.btn-primary.btn-block Update Position
	a(href='/signout') Sign Out
	
	script(type='text/javascript', src='/javascripts/gmaps.js')
	script(type='text/javascript', src='/javascripts/home.js')