extends layout

block content
	h1.text-center.login-title What would you like to do?
	div#Map
	
	button#SetTrap.btn.btn-lg.btn-primary.btn-block        Set Trap
	button#UpdatePosition.btn.btn-lg.btn-default.btn-block Update
	span Signed in as #{user.username} (
		a(href='/signout') Sign Out
		| ) Score: 
		span#Score
	
	script(type='text/javascript', src='/javascripts/gmaps.js')
	script(type='text/javascript', src='/javascripts/home.js')