extends layout

block content
	h1.text-center.login-title Invites
	
	a(href='/creategame', class='btn btn-lg btn-primary btn-block') Create Game
	a(href='/signout', class='text-center new-account') Sign Out
	script(type='text/javascript', src='/javascripts/joingame.js')