extends layout

block content
	h1.text-center.login-title You're not playing a game right now
	form(class='form-creategame', action='/creategame', method='POST')
		
		input( type='text', name='players', class='form-control', placeholder='Players (comma separated)', required, autofocus )
		
		div.input-group
			input( type='text', name='trapsize' class='form-control', placeholder='Trap Size', required )
			span.input-group-addon ft
		div.input-group
			input( type='text', name='traplife' class='form-control', placeholder='Trap Life', required )
			span.input-group-addon days
		
		button(class='btn btn-lg btn-primary btn-block', type='submit') Create Game
		a(href='/signout', class='text-center new-account') Sign Out
	script(type='text/javascript', src='/javascripts/gmaps.js')