extends layout

block content
	h1.text-center.login-title Create an Account
		div.signup-wall
			form(action='/signup', method='POST')
				input.form-control(type='text', name='username', placeholder='Username',required, autofocus)
				input.form-control.nomargin(type='password', name='password', placeholder='Password', required)
				input.form-control(type='email', name='email', placeholder='Email',required)
				button.btn.btn-lg.btn-primary.btn-block(type='submit') Register