body
{
}

a
{
	color:                      #00B7FF;
}

#map
{
	width:                      100%;
}

h1.error-message
{
	color:                      red;
}

ul.dynamic-list
{
	list-style:                 none;
	padding:                    0;
	margin:                     0;
}

ul.dynamic-list > li
{
	padding:                    0em 1.5em 0.75em 1.5em;
	position:                   relative;
	margin:                     0.5em;
	background-color:           #999;
	color:                      white;
	border-radius:              0.5em;
	line-height:                2.5em;
	height:                     2.5em;
	font-weight:                bold;
	word-break:                 break-all;
	overflow:                   hidden;
}

ul.dynamic-list > li::after
{
	content:                    "";
	position:                   absolute;
	top:                        0;
	left:                       0;
	right:                      0;
	bottom:                     0;
	border:                     0.2em white solid;
	margin:                     0.3em;
	border-radius:              0.4em;
	pointer-events:             none;
}

.dynamic-list-addon
{
	display:                    block;
	float:                      right;
	border-left:                1px solid white;
	padding:                    0.1em 0.4em 0.1em 0.4em;
	margin:                     0.65em -1em 0 0;
	cursor:                     pointer;
}